<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/Login/css/style.css">

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/Content/Login/js/jquery.min.js"></script>
    <script src="~/Content/Login/js/popper.js"></script>
    <script src="~/Content/Login/js/bootstrap.min.js"></script>
    <script src="~/Content/Login/js/main.js"></script>

</body>
</html>


@*<!DOCTYPE html>
    <html lang="en">

    <head>
        <title>Registration Form</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="~/Content/Login/css/style.css" rel="stylesheet" />

    </head>

    <body>
        <section id="hero" class="d-flex align-items-center">
            <div>
                @RenderBody()
            </div>
        </section>
        <script src="~/Content/Login/js/bootstrap.min.js"></script>
        <script src="~/Content/Login/js/jquery.min.js"></script>
        <script src="~/Content/Login/js/main.js"></script>
        <script src="~/Content/Login/js/popper.js"></script>
    </body>
    </html>*@